<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.dao.EmployeeMapper">

    <!-- 全件検索 -->
    <select id="findAll" resultType="com.example.mybatis.entity.Employee">
        SELECT id
            , employee_id AS employeeId
            , family_name AS familyName
            , first_name AS firstName
            , section_id AS sectionId
            , mail
            , gender_id AS genderId
        FROM employee
        ORDER BY employee_id
    </select>

    <!-- 主キー検索 -->
    <select id="findById" resultType="com.example.mybatis.entity.Employee">
        SELECT id
            , employee_id AS employeeId
            , family_name AS familyName
            , first_name AS firstName
            , section_id AS sectionId
            , mail
            , gender_id AS genderId
        FROM employee WHERE id=#{id}
    </select>

    <!-- 社員ID検索 -->
    <select id="findByEmployeeId" resultType="com.example.mybatis.entity.Employee">
        SELECT id
        , employee_id AS employeeId
        , family_name AS familyName
        , first_name AS firstName
        , section_id AS sectionId
        , mail
        , gender_id AS genderId
        FROM employee WHERE employee_id=#{employeeId}
    </select>

    <!-- 新規登録 -->
    <insert id="save">
        INSERT INTO employee
        (employee_id, family_name, first_name, section_id, mail, gender_id)
        VALUES
        (#{employeeId}, #{familyName}, #{firstName}, #{sectionId}, #{mail}, #{genderId})
    </insert>

    <!-- 更新 -->
    <update id="update">
        UPDATE userinfo SET name = #{name}, address = #{address}, phone = #{phone}, update_date = CURRENT_TIMESTAMP WHERE id = #{id}
    </update>

    <!-- 論理削除 -->
    <update id="delete">
        UPDATE userinfo SET delete_date = CURRENT_TIMESTAMP WHERE id = #{id}
    </update>
</mapper>